services:
  senabackend:
    container_name: senabackend
    # image: sena-insurance-app:prod
    # build:
    #   context: ./sena-project
    #   dockerfile: Dockerfile
    #   target: prod
    image: {{ harbor_registry }}/{{ image_repo }}:{{ image_tag }}
    env_file:
      - {{ app_dir }}/.env
    expose:
      - "{{ appication_port }}"
    volumes:
      - {{ app_dir }}/storage:/var/www/html/storage/
      - {{ fpm_dir }}/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:ro
    restart: unless-stopped                                   
    networks:
      - {{ application_networks }}

  web:
    image: sena-nginx
    container_name: sena-nginx
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "{{ nginx_host_port }}:{{ nginx_container_port }}"

    depends_on:
      - senabackend
      - db

    volumes:
      - {{ app_dir}}:/var/www/html
      - {{ nginx_dir }}/default.conf:/etc/nginx/conf.d/default.conf:ro    
      - {{ nginx_dir }}/logs:/var/log/nginx

    restart: unless-stopped                                       
    networks:
      - {{ application_networks }}


  db:
    image: postgres:16
    container_name: postgres-container
    restart: unless-stopped

    ports:
      - "{{ db_port }}:{{ db_port }}"

    environment:
      POSTGRES_DB: {{ DB_NAME }} 
      POSTGRES_USER: {{ DB_USER }}
      POSTGRES_PASSWORD: {{ DB_PASSWORD }}

    volumes:
      - /db/postgres/data:/var/lib/postgresql/data
      - /db/postgres/sql:/docker-entrypoint-initdb.d

    networks:
      - {{ application_networks }}

  adminer:
    image: adminer:latest
    container_name: sena-adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - {{ application_networks }}

  # third-party-simulator:
  #   container_name: sim-service
  #   build:
  #     context: ./third-party-service-simul
  #     dockerfile: Dockerfile
  #   ports:
  #     - "9001:3000"
  #   environment:
  #     - PORT=3000
  #   restart: always
  #   networks:
  #     - sena

networks:
  {{ application_networks }}:
    external: true